absl-py
astor
cachetools
certifi
chardet
cycler
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
numpy
oauthlib
opt-einsum
pandas
pathlib2
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
pytz
PyYAML
requests
requests-oauthlib
rsa
scipy
six
tensorboard
tensorflow
#tensorflow-docs
tensorflow-estimator
termcolor
urllib3
Werkzeug
wrapt
